# Ignore artifacts
build
dist
target
.config

# Ignore node modules
node_modules

# Ignore dotfiles
.editorconfig
.env.example
.gitattributes
.replit
.eslintrc.cjs

# Ignore specific files
.github/copilot-instructions.md